{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "^react$|^next$|^next/",
    "i18next",
    "react-query|styled-components|swiper|polished",
    "<THIRD_PARTY_MODULES>",
    "@/app",
    "@/shared",
    "@/entities",
    "@/features",
    "@/widgets",
    "^./|^../",
    "@/public|public",
    "@next/font|react-icons",
    "@testing-library|jest"
  ],
  "importOrderSeparation": true
}